@typeparam TPropertyValueType
@inherits CslaSwitchBase<TPropertyValueType>

<div style="display:inline-block">
    <TelerikSwitch TValue="TPropertyValueType" 
                       @bind-Value="@BoundValue" 
                       OnLabel="@OnLabel" 
                       OffLabel="@OffLabel"
                       Width="@Width"
                       Enabled="@Property.CanWrite" />
    <CslaInputValidationMessages Property="Property" />
</div>