@typeparam TDataItem
@typeparam TPropertyValueType
@inherits CslaDropDownBase<TDataItem, TPropertyValueType>

<div>
    @if (Data != null)
    {
        if (ShowLabel)
        {
            <CslaLabel Property="Property"/>
        }
        <TelerikDropDownList
            TItem="TDataItem"
            TValue="TPropertyValueType"
            Data="@Data"
            DefaultText="@DefaultText"
            Id="@Property.PropertyName"
            Width="@Width"
            @bind-Value="@BoundValue"
            ValueField="@ValueField"
            TextField="@TextField"
            Enabled="@(Enabled && Property.CanWrite)">
        </TelerikDropDownList>
        <CslaInputValidationMessages Property="Property"/>
    }
</div>