@inherits CslaTextInputBase

<div>
    @if (ShowLabel)
    {
        <CslaLabel Property="Property" />
    }
    <TelerikTextBox 
        Id="@Property.PropertyName" 
        Name="@Property.PropertyName"
        @bind-Value="BoundValue" 
        @bind-Value:event="@BindEvent"
        InputMode="@InputType"
        Password="@IsPassword"
        Enabled="@Property.CanWrite"
        Width="@Width"/>
    <CslaInputValidationMessages Property="Property" />
</div>