@typeparam TPropertyValueType
@inherits CslaDatePickerBase<TPropertyValueType>

<div>
    @if (ShowLabel)
    {
        <CslaLabel Property="Property" />
    }
    <TelerikDatePicker 
        T="TPropertyValueType"
        Id="@Property.PropertyName"
        @bind-Value="BoundValue" 
        Min="@Min"
        Max="@Max"
        Format="@Format"
        Width="@Width"
        Enabled="@Property.CanWrite" />
    <CslaInputValidationMessages Property="Property" />
</div>
